* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: black;
  color: whitesmoke;
  height: 50px;
  
}
nav img{
    width: 40px;
}
nav ul {
  list-style: none;
  display: flex;
  border: 1px solid black;
}

nav ul li {
  padding: 0px 20px;
}

nav ul li:hover{
    color: rgb(23, 228, 125);
    cursor: pointer;
}

#Main {
  height: calc(100vh - 50px);
  background-color: black;
  display: flex;
}

#First {
  width: 50%;
  height: 100%;
  background-image: url('./assets/images/img1.gif');  
  /* github does not support "" in url */
  background-position: center;
  background-repeat: no-repeat;
  /* border: 1px solid white; */
}

#Second {
  width: 50%;
  height: 100%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Second div {
  /* border: 1px solid white; */
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Second div h1 {
  padding: 20px 0px;
}
#Line {
  width: 330px;
  height: 4px;
  background-color: rgb(23, 228, 125);
  margin-top: 2vh;
}

#Second div button {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(23, 228, 125);
  font-weight: bold;
  font-size: 15px;
  border: 1px solid rgb(23, 228, 125);
  cursor: pointer;
}
